body{
  background-color: lightyellow;
}

#htt{ text-align: center; color:pink;}
#i{ width: 300px; height:400px;
  border: 2px;border-radius: 10px;margin: 10px;
}
#m{ width: 300px; height:400px;
  border: 2px;border-radius: 10px;margin: 10px;
}
#g{ width: 300px; height:400px;
  border: 2px;border-radius: 10px;margin: 10px;
}
  
  #bb{ background-color: pink; border-radius: 5px;
    
  }
  




